<div class="container-fluid">
	<h3 >Справочники</h3>	
	<div class="list-group">
		
		<a href="<%= microposts_path %>" class="list-group-item">
			<h4 class="list-group-item-heading">Новости</h4>
    		<p class="list-group-item-text">Управление новостной лентой. Создание, редактирование и удаление новостей.</p>
    	</a>
    	<a href="<%= users_path %>" class="list-group-item">
			<h4 class="list-group-item-heading">Пользователи</h4>
    		<p class="list-group-item-text">Управление пользователями. Создание, редактирование и удаление пользователей, обладающих административными или правами редакторов.</p>
    	</a>
		

	</div>
</div>