
<div class="panel panel-default news">
	<div class="panel-heading">
    	<h3 class="panel-title">НОВОСТИ</h3>
    </div>
	<div class="panel-body">
		<div class="post">
			<h4>Заголовок новости</h4>
			<p>
				Текст новостной, урезанный до 200 символов.</p>
		</div>
		
	</div>
</div>

