<div class="container-fluid">
	<%= nsi_navbar nsi_name %>

	<p id="notice"><%= notice %></p>
	<p class="caption">
		<strong>Наименование тэга:</strong>
	</p>
	<p class="value">
  		<%= @tag.name %>
	</p>


</div>