<div class="text-body text-justify">
	<p>Компания ООО «ЭДАС» выражает Вам свое почтение и предлагает рассмотреть возможность совместного сотрудничества в области проектирования и строительства гражданских (жилых, административных) и промышленных зданий и сооружений любой степени сложности в соответствии со стандартами ГОСТ и СНиП.
	</p>
	<p>Компания предоставляет максимально полную услугу клиенту, чтобы решить все Ваши вопросы и воплотить в жизнь все Ваши проекты. 
	</p>
	<p>Разнообразие основных направлений деятельности позволяет комплексно оказывать услуги по выполнению проектных работ, строительно-монтажных работ, пуско-наладочных работ и сдаче в эксплуатацию, включая:
	</p>
	<ul>
		<li>обмерные работы и обследование зданий и сооружений;</li>
		<li>инструментальное обследование объектов;</li>
		<li>получение технических условий на технологическое присоединение к инженерным сетям;</li>
		<li>разработка всех разделов проектной и рабочей документации;</li>
		<li>согласование документации с надзорными и контролирующими органами;</li>
		<li>проведение и сопровождение негосударственной экспертизы;</li>
		<li>проведение комплексных электроизмерений и испытаний;</li>
		<li>сдача объекта в эксплуатацию с приемкой надзорными и контролирующими органами;</li>
		<li>авторский надзор и строительный контроль;</li>
		<li>работы по гарантийному и постгарантийному обслуживанию.</li>
	</ul>
	<p>В работе применяем и используем современные эффективные технологии, эффективное оборудование ведущих мировых и отечественных производителей, позволяющее, в том числе, сохранять и защищать окружающую среду.</p>
	<p>Квалифицированные специалисты компании оказывают консультации, помогают решить технические вопросы. Основываясь на компетенции и опыте, обеспечивают качественное и быстрое решение задач.</p>
	<p>Компания имеет все необходимые разрешительные документы для осуществления своей деятельности.</p>
	<p>Компания предоставляет индивидуальный и гибкий подход к каждому клиенту.</p>
	<p>Главная цель компании – гарантировать потребителю только качественное и профессиональное оказание услуг.</p>
	<p>Наши заказчики:</p>
	<ul>
		<li>ООО «Пермская строительная компания «УРАЛВИАС»;</li>
		<li>ООО «Проектно-конструкторский центр «АВИПРОМ»;</li>
		<li>ОАО «Межотраслевой научно-исследовательский и проектно-технический институт экологии топливно-энергетического комплекса»;</li>
		<li>ООО «ТеплоКомСервис»;</li>
		<li>ООО «Проектное бюро «Инвента»;</li>
		<li>ООО «УралСервис-2000»;</li>
		<li>ГП «Спутник»;</li>
		<li>Министерство строительства и ЖКХ Пермского края;</li>
		<li>Министерство образования Пермского края;</li>
		<li>Министерство здравоохранения Пермского края;</li>
		<li>ОАО «Стройпанелькомплект»;</li>
		<li>ООО «Теплоэнергопром»;</li>
		<li>ООО «Торговый дом «КПД».</li>
		</ul>

	<p>Выражаем признательность за проявленный интерес и будем рады дальнейшему плодотворному сотрудничеству.<p>
	<br/>
	<br/>



	<p>С уважением,</p>
	<p>Директор <b class="pull-right">Р.Е. Вавилин</b> </p>

</div>