<%= javascript_include_tag "services" %>

	<div class="container-fluid">
			<h4 class="pull-right clr-brand" >КОНТАКТЫ</h4>
	</div>
		<div>
			<p>614077, г. Пермь,<br/>
			Ул. Пушкарская, д. 140, оф. 318
			</p>
			<p>ООО "ЭДАС"</p>
			<p>Телефон: +7 (342) 207-42-11<br/>
				Факс: +7 (342) 207-42-12
			</p>
			<p class="clr-brand"><a href='mailto:edas-perm@yandex.ru'>E-mail: edas-perm@yandex.ru</a></p>
			<p><a href='www.edas-design.ru'> www.edas-design.ru </a></p>
		</div>
	<!-- </div> -->
  <!-- </div> -->
  <!-- <div class="row"> -->
	<!-- <div class="container "> -->
	<div class="container-fluid">
		<h4 class="pull-right  clr-brand">СХЕМА ПРОЕЗДА</h4>
	</div>
	<div id="map" style="width:100%;height: 400px;"></div>
	<!-- </div> -->
  <!-- </div>	 -->
<!-- </div> -->

