<!-- НОвый вариант - табличка -->
<div class="container-fluid">
	<div >
		<h3 class="my-center">Общество с ограниченной ответственностью «ЭДАС»</h3>
		<h4 class="my-center">Электроэнергетика. Диспетчеризация. Автоматизация. Строительство.</h4>
	</div>

	<table class="table contacts">
		<tbody>
			<tr>
				<td class="caption col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<strong>Директор</strong>
				</td>
				<td class="value col-xs-12">
					<p>Вавилин Роман Евгеньевич </p>
				</td>
			</tr>
			<tr>
				<td class="caption col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<strong>Главный бухгалтер</strong>
				</td>
				<td class="value col-xs-12">
					<p>Корнильева Наталья Николаевна</p>
				</td>
			</tr>
			<tr>
				<td class="caption">
					<strong>Контактный телефон</strong>
				</td>
				<td class="value">
					<p>тел. +7 (342) 207-42-11</p>
					<p>факс: +7(342) 207-42-12</p>
					<p>моб. +7 (902) 835-17-41</p>
				</td>
			</tr>
			<tr>
				<td class="caption">
					<strong>Электронная почта</strong>
				</td>
				<td class="value">
					<p><a href="mailto:edas-perm@yandex.ru">edas-perm@yandex.ru</a></p>
				</td>
			</tr>
			<tr>
				<td class="caption">
					<strong>
					ИНН/КПП
					</strong>
				</td>
				<td class="value">
					<p>
					5906122215/590601001
					</p>
				</td>
			</tr>
			<tr>
				<td class="caption">
					<strong>
					ОКПО/ОКВЭД
					</strong>
				</td>
				<td class="value">
					<p>
					24101303/74.20.14
					</p>
				</td>
			</tr>
			<tr>
				<td class="caption">
					<strong>
					ОГРН
					</strong>
				</td>
				<td class="value">
					<p>
					1135906005597
					</p>
				</td>
			</tr>
			<tr>
				<td class="caption">
					<strong>
					Юридический адрес
					</strong>
				</td>
				<td class="value">
					<p>
					614077, г. Пермь, ул. Старцева, 37-87
					</p>
				</td>
			</tr>
			<tr>
				<td class="caption">
					<strong>
					Почтовый адрес
					</strong>
				</td>
				<td class="value">
					<p>
					614077, г. Пермь, ул. Пушкарская, 140 оф. 203
					</p>
				</td>
			</tr>
			<tr>
				<td class="caption">
					<strong>
					Банковские реквизиты
					</strong>
				</td>
				<td class="value">
					<p>р/с 40702810649770008185<br/>
					в Западно-Уральском банке СБ РФ к/с 30101810900000000603<br/>
					<strong>БИК</strong> 045773603</p>
					<p><strong>Почтовый адрес банка:</strong>  Пермское отделение №6984 г. Пермь<br/> ОАО «Сбербанк России», 614000, г. Пермь, ул.Сибирская, д.48/1</p>
				</td>
			</tr>
		</tbody>		
	</table>
	
	
</div>