<!-- ---
layout: default
title: Проекты
comment: Список доступных для просмотра проектов.
id: page-projects
gallery: projects/
---
 -->
<div class="row">
	
	<aside class="col-md-7">
		<div class="list-group submenu">
			<a href="#" class="list-group-item active">
				<span class="badge">3</span>
				<span class="badge negative">4</span>
				Нефтяная отрасль
			</a>
			<a href="#" class="list-group-item">
				<span class="badge">10</span>
				Строительство
			</a>
			<a href="#" class="list-group-item">
				<span class="badge">21</span>
				Архитектура
			</a>
			<a href="#" class="list-group-item">
				<span class="badge">12</span>
				Малоэтажное строительство
			</a>
		</div>
	</aside>
	<section class="col-md-17">
		
		<div class="jumbotron">
        <blockquote>
            <p>
                Тут будут располагаться описания проектов и файлы картинок по проектам.
            </p>
            <small>Это такое предложение.</small>
        </blockquote>
    	</div>
	</section>
</div>

