
<div class="row">
	
	<aside class="col-md-7">
		<div class="list-group submenu">
		<% @services.each do |srv| %>
			
			<% if srv.id.to_s == params[:id].to_s then a = 'active' else a = '' end%>
			
			<%= link_to srv.name, tools_view_path(srv), :class => "list-group-item #{a}" %>
		<% end %>
		</div>
	</aside>
	<section class="col-md-17">
		
		    <% if @service then %>
            	<%= markdown(@service.content) %>
            <% else %>
            	<p> Тут будет описание! </p>
            <% end %>
        
	</section>
</div>
