
<div class="row">
	
	<aside class="col-md-7">
		<div class="list-group submenu">
		<% @services.each do |srv| %>
			
			<% if srv.id.to_s == params[:id].to_s then a = 'active' else a = '' end%>
			
			<%= link_to srv.name, tools_view_path(srv), :class => "list-group-item #{a}" %>
		<% end %>
		</div>
	</aside>
	<section class="col-md-17">
		
		    <% if @service then %>
            	<%= markdown(@service.content) %>
            <% else %>
            	<h3 class="clr-brand">Услуги, предоставляемые ООО "ЭДАС"</h3>
            	<p>Разнообразие основных направлений деятельности позволяет комплексно оказывать услуги по выполнению проектных работ, строительно-монтажных работ, пуско-наладочных работ и сдаче в эксплуатацию</p>
            	<p>В этом разделе вы можете ознакомится с описанием основных услуг, которые проедставляет наша компания.</p>
            	<p></p>
            <% end %>
        
	</section>
</div>
