<div class="container-fluid">
	<%= nsi_navbar :siteconfig %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Имя параметра:</strong>
  <%= @siteconfig.name %>
</p>

<p>
  <strong>Значение:</strong>
  <%= @siteconfig.value %>
</p>
