<div class="container-fluid">
<div class='navbar navbar-default'>
	<div class='navbar-brand'>Новая новость</div>
	<%= link_to 'К списку новостей', microposts_path, :class => 'btn btn-primary navbar-btn' %>
</div>

<%= render 'form' %>
</div>

