<head>
  <title>ООО "ЭДАС"</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//api-maps.yandex.ru/2.1/?lang=ru_RU" %>
  
  
  <%= csrf_meta_tags %>

  
  


</head>