<div class="menu container">
    <nav class="navbar navbar-default">
  
        <ul class="nav nav-pills nav-left" role="menu" aria-labelledby="dLabel" id="menu">
        <!-- col-sm-6 col-md-6 col-lg-6 -->
            <li ><%= link_to 'ГЛАВНАЯ |', "/" %></li>
            
            <li><%= link_to 'УСЛУГИ |', tools_path %></li>
            
            <li><%= link_to 'ПРОЕКТЫ |', projects_path %> </li>

            <li><%= link_to 'КОНТАКТЫ |', contacts_path %> </li>
        </ul>
    
    </nav>
</div>

