<div class="heading ">
<!-- Параметры переменной для всех страничек:
Имя переменной: @current_page
  .title - заголовок
  .comment - комментарий

 -->


 		<h3><%= page_title%> </h3>
	
</div>